$couleur1: #f05f40;
$couleur2: #fafafa;
$couleur3: #222222;
$couleur4: #444444;
body {
    background-color: $couleur2;
    font-family: "Ralaway", sans-serif;
}

.fond-gris-fonce {
    background-color: $couleur3;
    color: $couleur2;
}

.fond-gris-clair {
    background-color: $couleur4;
    color: $couleur2;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.carousel-caption {
    bottom: 20%;
}

.visible {
    visibility: visible;
}


/* DEBUT NAV */

.navbar-default {
    background-color: $couleur3;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    .navbar-toggle {
        float: left;
        border: none;
        &:focus,
        &:hover {
            background-color: transparent;
        }
        .icon-bar {
            background-color: $couleur2;
        }
    }
    .navbar-brand {
        color: $couleur1;
        font-family: 'Montez', cursive;
        font-size: 40px;
        &:hover {
            color: $couleur2;
        }
    }
    .navbar-nav {
        li {
            &:hover {
                background-color: $couleur1;
            }
            a {
                color: $couleur2;
                &:hover {
                    color: $couleur2;
                }
            }
        }
    }
}


/* FIN NAV */

.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
}


/* DEBUT CAROUSEL PRINCIPAL */

#myCarousel {
    max-height: 95vh;
    .carousel-indicators {
        li {
            border-radius: 0;
            width: 10%;
            height: 5px;
            border: none;
            background-color: $couleur2;
        }
    }
    .carousel-indicators .active {
        width: 10%;
        height: 6px;
        background-color: $couleur1;
    }
    .btn-default {
        background-color: $couleur1;
        color: $couleur2;
        border: none;
    }
}


/* FIN CAROUSEL PRINCIPAL */


/* DEBUT SECTION */

section {
    h3 {
        color: $couleur1;
        text-align: center;
    }
    p {
        text-align: justify;
    }
    a {
        color: $couleur1;
    }
}


/* debut date picker */

.ui-datepicker {
    margin: auto;
    border-radius: 5px;
    width: 100%;
    td {
        a.ui-state-default.ui-state-active {
            color: white;
            background: $couleur4;
            border-radius: 4px;
        }
        a.ui-state-default {
            border: none;
            background: none;
        }
        a.ui-state-default:hover {
            border: none;
            background: $couleur4;
            border-radius: 4px;
        }
        a.ui-state-highlight {
            color: white;
            background: $couleur1;
            border-radius: 4px;
        }
    }
}

.ui-datepicker-prev.ui-corner-all:before,
{
    content: "\f177";
    font-family: FontAwesome;
}

.ui-datepicker-next.ui-corner-all:before {
    content: "\f178";
    font-family: FontAwesome;
}


/* fin date picker */


/*debut menu accordeon*/

#menuGauche {
    overflow: auto;
    max-height: 100%;
}

#navAccordeon {
    z-index: 99999;
    width: 100%;
}

.fond-accordeon {
    background-color: #f6f6f6;
    #accordion {
        height: 100%;
        overflow: auto;
        background-color: #f6f6f6;
        ul {
            a {
                li {
                    text-align: center;
                    padding: 15px 0px;
                    border-bottom: 1px solid #c5c5c5;
                    color: #f05f40;
                    font-size: 12px;
                    &:hover {
                        background-color: $couleur1;
                        color: $couleur2;
                    }
                }
            }
        }
    }
}

.ui-accordion {
    .ui-accordion-header {
        margin-top: 0;
        padding: 25px;
    }
    .ui-accordion-content {
        padding: 0;
        height: auto;
    }
}

.ui-corner-all {
    border-radius: 0;
}

.ui-state-default {
    border: none;
    border-bottom: 1px solid #c5c5c5;
    &:hover {
        background-color: $couleur1;
        color: $couleur2;
    }
}

.ui-widget-content {
    border: none;
    a {
        text-decoration: none;
    }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background-color: $couleur1;
    border: none;
    border-radius: 0;
}


/*fin menu accordeon*/

.fa-chevron-up {
    opacity: 0.5;
    position: fixed;
    right: 10px;
    color: white;
    bottom: 20px;
    font-size: 25px;
    background-color: black;
    padding: 10px;
    border-radius: 100px;
    visibility: hidden;
    &:hover {
        background-color: $couleur1;
    }
}

#sectionDroite {
    hr {
        opacity: 0.5;
    }
}


/* FIN SECTION */


/* DEBUT CONTACT */

#contact {
    padding: 100px 0;
    background-color: white;
    .fa {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
}


/* FIN CONTACT */


/* DEBUT FOOTER */

footer {
    background-color: $couleur1;
    color: $couleur2;
    padding: 30px 0;
    a {
        color: white;
        &:hover {
            color: white;
        }
    }
}


/* FIN FOOTER */


/* DEBUT PROGRAMME */

#programme {
    position: fixed;
    width: 50%;
    top: 25%;
    left: 25%;
    background-color: black;
    z-index: 100001;
    color: white;
    border-radius: 3px;
    box-shadow: black -1px -1px 5px;
    ul {
        padding-left: 0px;
        li {
            list-style: none;
            margin: 35px 0px;
            font-weight: bold;
        }
    }
    h5 {
        color: $couleur1;
        font-weight: bold;
    }
}

#jour {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

#horaires {
    padding-top: 25px;
    color: $couleur1;
    font-weight: bold;
}

#pageInactive {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100000;
}

.fa-times-circle-o {
    position: absolute;
    font-size: 26px;
    right: -7px;
    top: -7px;
}

.fa-times-circle-o:hover {
    cursor: pointer;
    color: $couleur1;
}


/* FIN PROGRAMME */


/* DEBUT MEDIA QUERIES */

@media (max-width: 991px) {
    /*navbar menu accordeon */
    section {
        .navbar-default {
            background-color: $couleur2;
            .navbar-header {
                float: none;
                .navbar-toggle {
                    .icon-bar {
                        background-color: $couleur1;
                    }
                }
                .navbar-brand {
                    color: $couleur3;
                    font-family: sans-serif;
                    font-size: 20px;
                    &:hover {
                        color: $couleur3;
                    }
                }
            }
            .navbar-collapse {
                text-align: left;
                box-shadow: none;
                border: none;
                .navbar-nav {
                    width: 100%;
                }
            }
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .collapse.in {
            display: block !important;
        }
    }
    #programme {
        position: fixed;
        width: 80%;
        top: 25%;
        left: 10%;
        background-color: black;
        z-index: 100001;
        color: white;
        border-radius: 3px;
        box-shadow: black -1px -1px 5px;
        ul {
            padding-left: 0px;
            li {
                list-style: none;
                margin: 35px 0px;
                font-weight: bold;
            }
        }
        h5 {
            color: $couleur1;
            font-weight: bold;
        }
    }
}


/* FIN MEDIA QUERIES */