$couleur1: #f05f40;
$couleur2: #fafafa;
$couleur3: #222222;
$couleur4: #444444;
body {
    background-color: $couleur2;
}

.fond-gris-fonce {
    background-color: $couleur3;
    color: $couleur2;
}

.fond-gris-clair {
    background-color: $couleur4;
    color: $couleur2;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.carousel-caption {
    bottom: 20%;
}

.visible {
    visibility: visible;
}


/* DEBUT NAV */

.navbar-default {
    background-color: $couleur3;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    .navbar-toggle {
        float: left;
        border: none;
        &:focus,
        &:hover {
            background-color: transparent;
        }
        .icon-bar {
            background-color: $couleur2;
        }
    }
    .navbar-brand {
        color: $couleur1;
        &:hover {
            color: $couleur2;
        }
    }
    .navbar-nav {
        li {
            &:hover {
                background-color: $couleur1;
            }
            a {
                color: $couleur2;
                &:hover {
                    color: $couleur2;
                }
            }
        }
    }
}


/* FIN NAV */

.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
}


/* DEBUT CAROUSEL PRINCIPAL */

#myCarousel {
    max-height: 95vh;
    .carousel-indicators {
        li {
            border-radius: 0;
            width: 100px;
            height: 5px;
            border: none;
            background-color: $couleur2;
        }
    }
    .carousel-indicators .active {
        width: 100px;
        height: 6px;
        background-color: $couleur1;
    }
    .btn-default {
        background-color: $couleur1;
        color: $couleur2;
        border: none;
    }
}


/* FIN CAROUSEL PRINCIPAL */


/* DEBUT SECTION */

section {
    h3 {
        color: $couleur1;
        text-align: center;
    }
    p {
        text-align: justify;
    }
    a {
        color: $couleur1;
    }
}


/* debut date picker */

.ui-datepicker {
    margin: auto;
    border-radius: 5px;
    width: 100%;
    td {
        a.ui-state-default.ui-state-active {
            color: white;
            background: $couleur4;
            border-radius: 4px;
        }
        a.ui-state-default {
            border: none;
            background: none;
        }
        a.ui-state-default:hover {
            border: none;
            background: $couleur4;
            border-radius: 4px;
        }
        a.ui-state-highlight {
            color: white;
            background: $couleur1;
            border-radius: 4px;
        }
    }
}


/* fin date picker */


/*debut menu accordeon*/

#menuGauche {
    overflow: auto;
    max-height: 100%;
}

.fond-accordeon {
    background-color: #f6f6f6;
    #accordion {
        height: 100%;
        overflow: auto;
        background-color: #f6f6f6;
        ul {
            a {
                li {
                    text-align: center;
                    padding: 8px 0px;
                    border-bottom: 1px solid #c5c5c5;
                    color: #f05f40;
                    font-size: 12px;
                    &:hover {
                        background-color: $couleur1;
                        color: $couleur2;
                    }
                }
            }
        }
    }
}

.ui-accordion {
    .ui-accordion-header {
        margin-top: 0;
        padding: 20px;
    }
    .ui-accordion-content {
        padding: 0;
        height: auto;
    }
}

.ui-corner-all {
    border-radius: 0;
}

.ui-state-default {
    border: none;
    border-bottom: 1px solid #c5c5c5;
    &:hover {
        background-color: $couleur1;
        color: $couleur2;
    }
}

.ui-widget-content {
    border: none;
    a {
        text-decoration: none;
    }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background-color: $couleur1;
    border: none;
    border-radius: 0;
}


/*fin menu accordeon*/

.fa-chevron-up {
    opacity: 0.5;
    position: fixed;
    right: 10px;
    color: white;
    bottom: 20px;
    font-size: 25px;
    background-color: black;
    padding: 10px;
    border-radius: 100px;
    visibility: hidden;
    &:hover {
        background-color: $couleur1;
    }
}

#sectionDroite {
    hr {
        opacity: 0.5;
    }
}


/* FIN SECTION */


/* DEBUT CONTACT */

#contact {
    padding: 100px 0;
    background-color: white;
    .fa {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
}


/* FIN CONTACT */


/* DEBUT FOOTER */

footer {
    background-color: $couleur1;
    color: $couleur2;
    padding: 30px 0;
    a {
        color: white;
        &:hover {
            color: white;
        }
    }
}


/* FIN FOOTER */