$couleur1: #f05f40;
$couleur2: #fafafa;
$couleur3: #222222;
$couleur4: #444444;
body {
    background-color: $couleur2;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.carousel-caption {
    bottom: 20%;
}

.visible {
    visibility: visible;
}


/* DEBUT NAV */

.navbar-default {
    background-color: white;
    border: none;
    margin-bottom: 0;
    .navbar-brand {
        color: $couleur1;
    }
    .navbar-nav {
        li {
            &:hover {
                background-color: $couleur1;
            }
            a {
                color: black;
                &:hover {
                    color: $couleur2;
                }
            }
        }
    }
}


/* FIN NAV */

.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
}


/* DEBUT CAROUSEL PRINCIPAL */

#myCarousel {
    max-height: 95vh;
    .btn-default {
        background-color: $couleur1;
        color: $couleur2;
        border: none;
    }
}


/* FIN CAROUSEL PRINCIPAL */


/* DEBUT SECTION */

section {
    h3 {
        color: $couleur1;
        text-align: center;
    }
    p {
        text-align: justify;
    }
    a {
        color: $couleur1;
    }
}


/*debut menu accordeon*/

.fond-accordeon {
    background-color: #f6f6f6;
    #accordion {
        height: 100%;
        overflow: auto;
        background-color: #f6f6f6;
        
    
        ul {
            a {
                li {
                    padding: 10px 20px;
                    border-bottom: 1px solid #c5c5c5;
                    color: #f05f40;
                    font-size: 12px;
                    &:hover {
                        background-color: $couleur1;
                        color: $couleur2;
                    }
                }
            }
        }
    }
}

 .ui-accordion {
    .ui-accordion-header {
        margin-top: 0;
        padding: 30px;
    }
    .ui-accordion-content {
        padding: 0;
        height: auto;
    }
} 


/*fin menu accordeon*/

.ui-state-default {
    border: none;
    border-bottom: 1px solid #c5c5c5;
    &:hover {
        background-color: $couleur1;
        color: $couleur2;
    }
}

.ui-widget-content {
    border: none;
}

.ui-widget-content a {
    text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background-color: $couleur1;
    border: none;
    border-radius: 0;
}

.ui-corner-all {
    border-radius: 0;
}

.fond-gris-fonce {
    background-color: $couleur3;
    color: $couleur2;
}

.fond-gris-clair {
    background-color: $couleur4;
    color: $couleur2;
}

.fa-chevron-up {
    position: fixed;
    right: 10px;
    color: rgba(255, 255, 255, 0.5);
    bottom: 20px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 100px;
    visibility: hidden;
}


/* FIN SECTION */


/* DEBUT CONTACT */

#contact {
    padding: 100px;
    .fa {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
}


/* FIN CONTACT */


/* DEBUT FOOTER */

footer {
    background-color: $couleur1;
    color: $couleur2;
    padding: 30px 0;
}


/* FIN FOOTER */


/* DEBUT DATE PICKER */

.ui-datepicker td a.ui-state-default.ui-state-active {
    color: white;
    background: $couleur4;
    border-radius: 4px;
}

.ui-datepicker td a.ui-state-default {
    border: none;
    background: none;
}

.ui-datepicker td a.ui-state-default:hover {
    border: none;
    background: $couleur4;
    border-radius: 4px;
}

.ui-datepicker td a.ui-state-highlight {
    color: white;
    background: $couleur1;
    border-radius: 4px;
}

.ui-datepicker {
    margin: 30% auto 10%;
    border-radius: 5px;
}


/* FIN DATE PICKER */